{% extends "Skeleton.twig" %}

{% block content %}

<div>

    <p class="titre"> {{categorie.id}} - {{categorie.libelle}} </p>
    <p class="description"> {{categorie.description}} </p>
    {% if categorie.tarif != null %}
    <p class="prix">{{categorie.unite}} = {{categorie.tarif}}€</p>
    {% endif %}


    <a href="#" onclick="window.history.go(-1)" class="bouton">Retour</a><a class="bouton" href={{url_for('prestationsDeCategorie',{'id':categorie.id})}}>Les prestations</a>
</div>

{% endblock %}