{% extends "Skeleton.twig" %}

{% block content %}

    <div id="categorie-div">
        <p class="titre">Prestations</p>
        <div id="categorie-liste">
            {% for c in categories %}
                <p class="categorie"> <a href= {{ url_for ('categorieId',{'id' :c.id })}}> {{c.id}} - {{c.libelle}} : {{c.description}}</a></p>
                <img src="{{ base_path() }}/img/{{ p.img }}" height="50" width="50" alt="{{ p.img }}">
            {% endfor %}
        </div>

        <a href="#" onclick="window.history.go(-1)" class="bouton">Retour</a>
        <a href='{{ url_for('getCategorieCreate')}}' class="bouton">Creer</a>
    </div>

{% endblock %}