{% extends "Skeleton.twig" %}

{% block content %}

    <div id="prestations-div">
        <p class="titre">Prestations</p>     <button><a href={{ url_for ('prestationsTrier')}}> trier par prix</a></button>
        <div id="prestations-liste">
            {% for p in prestations %}
                <p class="prestation"> <a href= {{ url_for ('prestation',{},{'id' :p.id })}}>{{ p.libelle }} - {{ p.description }} - {{ p.tarif }}</a></p>
                <img src="{{ base_path() }}/img/{{ p.img }}" height="50" width="50" alt="{{ p.img }}">
            {% endfor %}
        </div>

        <a href="#" onclick="window.history.go(-1)" class="bouton">Retour</a>
    </div>

{% endblock %}