<body>
<div>

    <h1>{{categorie.libelle}}</h1>

    <ul>
        {% for p in prestations%}

            <li><a href={{url_for('prestation', {},{'id': p.id })}}>{{p.libelle}} : {{p.description}} </a></li>
        {% endfor %}
    </ul>

    <a href='/categories/{{categorie.id}}'>Retour</a>

</div>
</body>