{% extends "Skeleton.twig" %}

{% block content %}

    <div id="prestations-div">
        <p class="titre">Prestations</p>
       <p class="menu">
           <a class="bouton" href={{ url_for ('prestations')}} > trie de base</a>
           <a class="bouton" href={{ url_for ('prestationsTrierAsc')}}> trier par prixCroisant</a>
           <a class="bouton" href={{ url_for ('prestationsTrierDesc')}}> trier par prixDecroisant</a>
       </p>
        <div id="prestations-liste">
            {% for p in prestations %}
                <p class="prestation"> <a href= {{ url_for ('prestation',{},{'id' :p.id })}}>{{ p.libelle }} - {{ p.description }} - {{ p.tarif }}€</a></p>
                <img src="{{ base_path() }}/img/{{ p.img }}" height="60" width="60" alt="{{ p.img }}">
            {% endfor %}
        </div>

        <a href="#" onclick="window.history.go(-1)" class="bouton">Retour</a>
    </div>

{% endblock %}