{% extends "Skeleton.twig" %}

{% block content %}

    <div id="prestations-div">
        <p class="titre">Les boxs predefinies</p>
        <div id="prestations-liste">
            {% for b in boxs %}
                <a href={{ url_for ('getBoxCreate',{},{'id' :b.id, 'libelle':b.libelle })}}><p class="prestation"> {{ b.libelle }} - {{ b.description }} - {{ b.montant }}</p></a>
            {% endfor %}
        </div>
        <a href="{{ url_for ('boxMenu',{},{})}}"  class="bouton">Retour</a>
    </div>

{% endblock %}