{% extends "Skeleton.twig" %}

{% block content %}
<div id="menu">
    <a href="{{url_for('boxBuy', {},{})}}"><p>PAYER COFFRET</p></a>
    <a href="{{url_for('getBoxCreate', {},{})}}"><p>CREER COFFRET</p></a>
    <a href="{{url_for('boxVisualisation', {},{})}}"><p>VISUALISER COFFRET</p></a>
</div>
<div id="menu">
    <a href="{{url_for('boxListeCoffretsUser', {},{})}}"><p>LISTE DE VOS COFFRETS</p></a>
    <a href="{{url_for('boxPredefinie', {},{})}}"><p>BOXS PREDEFINIES</p></a>
</div>

{% endblock %}