{% extends "Skeleton.twig" %}

{% block content %}

<div>

    <p class="titre"> {{prestation.libelle}} </p>
    <p class="description"> {{prestation.description}} </p>
    <p class="prix">{{prestation.unite}} = {{prestation.tarif}}€</p>
    <p><img src="{{ base_path() }}/img/{{ prestation.img }}" height="275" width="275" alt="{{ prestation.img }}"></p>



    <a class="bouton" href="{{ url_for ('prestations',{},{})}}">Retour</a>
    <a class="bouton" href= {{ url_for('getPrestationModify', {}, {'id' :prestation.id}) }}>Modifier</a>
    <a class="bouton" href= {{ url_for('getLiaisonPrestationCategorie', {}, {'id' :prestation.id}) }}>Changer catégorie</a>
    <a class="bouton" href="{{ url_for('getLiaisonPrestationBox', {}, {'id' :prestation.id}) }}">Ajouter à la Box Courante</a>
</div>

{% endblock %}